```gitignore
HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Ignore large dataset
src/main/resources/candidates.jsonl

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build folders
build/

# VS Code
.vscode/
```
